.googleicon {
    width: 90%;
    height: 65px;
   padding-top: 360px;
   padding-bottom: 50px;
}
/* Container - Search */
.container {
    background-color: #EEEEEE;
    margin-left: 80px;
    margin-right: 80px; 
}

/*Contanier Green */ 
.card1 {
    background-color: #7EE5DA;
    width: 40%;
    height: 60px;
    float: left;
    padding: 10px;
    margin-top: 2px;
    margin-left: 80px;
    margin-right: 5px; 
}
.card2 {
    background-color: #70CCC2;
    width: 10%;
    height: 80px;
    float: left;
    margin-top: 2px;
    margin-right: 2px;
}

.card3 {
    background-color: #62B3AA;
    width: 40%;
    height: 80px;
    float: left;
    margin-top: 2px;
    margin-right: 5px;
    
}
 /* Mid search box */ 
 .searchbox {
    background-color: #EEEEEE;

}
div p {
font-weight: 800;
}
.footer{
    padding-right:30px;
    padding-left: 30px;

    font-weight: bold;
    text-align: center;

}